body {
    margin: 0;
    padding: 0;
    background: #111;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#slideshow {
    margin: auto;
    padding-top: 280px;
    height: 1600px;
    width: 100%;
    background-image: url("tapeta-platki-sniegu-na-niebieskim-tle67.jpg");
    background-size: 1400px,800px;
    background-position: top,center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.slideshow-title {
    font-family: 'Arial';
    font-size: 66px;
	color: #6e889d;
    margin: 0 auto;
    text-align: center;
    margin-top: 0%;
    letter-spacing: 3px;
    font-weight: 100;
}

.entire-content {
    margin: auto;
    width: 172px;
    perspective: 1000px;
    position: relative;
    padding-top: 55px;
}

.content-carousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotate 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carousel figure {
    width: 100%;
    height: 230px;
    border: 1px solid #fff;
    overflow: hidden;
    position: absolute;
}

/* If you have more images let's say n ones. Then you need to duplicate below units to nth-child(n + 1), and you need to fix the new degree numbers in rotateY() as well. The formula is 360deg / n for each increment. The first child will always be 0 deg and the last will be 360deg. */
.content-carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(350px);
} .content-carousel figure:nth-child(2) {
    transform: rotateY(60deg) translateZ(350px);
} .content-carousel figure:nth-child(3) {
    transform: rotateY(120deg) translateZ(350px);
} .content-carousel figure:nth-child(4) {
    transform: rotateY(180deg) translateZ(350px);
} .content-carousel figure:nth-child(5) {
    transform: rotateY(240deg) translateZ(350px);
} .content-carousel figure:nth-child(6) {
    transform: rotateY(300deg) translateZ(350px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 5px;
	-webkit-box-reflect: below 0px 
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

.content-carousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
    border-radius: 5px;
} 
.content-carousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
    opacity: 0.7;
}

@keyframes rotate {
    from {tranform: rotateY(0deg);} 
    to {transform: rotateY(360deg);}
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 380px;
    height: 510px;
    max-width: 700px;
}

.caption {
    margin: auto;
    display: block;
    width: auto;
    max-width: 1000px;
    font-size: 18px;
    text-align: justify;
    color: #ccc;
    padding: 10px;
    height: 150px;
}
/* Animation */
.modal-content, .caption {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1);}
    to {transform: scale(1);}
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
